body
{
    margin: 0;
    padding: 40px 0 0 0;
}

#page
{
    margin-top: 20px;
}

#footer
{
    padding: 10px;
    margin: 10px 0;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #CCC;
}

.portlet-decoration
{
    padding: 3px 4px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}

.portlet-title
{
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #999;
}

/* parts */

body .navbar-fixed-top .brand {
    margin-left: 4px;
    padding-left: 40px;
    background: url(../images/matsuri-logo.jpg) left no-repeat;
}

.rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #CCC;
}

.trimmed-box {
    overflow-x: hidden;
}

.review-summary {
    margin-right: 10px;
    padding: 6px 16px;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    background-color: #b94a48;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

/* form */

.hint
{
    margin: 0;
    padding: 0;
    color: #999;
}

.note
{
    font-style: italic;
}

span.required
{
    color: red;
}

@media (max-width: 479px) {
    .hero-unit {
        padding: 40px 30px !important;
    }
    .hero-unit h1 {
        font-size: 40px !important;
    }
}

#Hack_description_preview {
    border: 1px solid #CCC;
    padding: 4px;
    margin-bottom: 10px;
    overflow: auto;
}
